.Gold {
	background-image:url("../img/Gold.jpg");
}
.Silver {
	background-image:url("../img/Silver.jpg");
}
.Copper {
	background-image:url("../img/Copper.jpg");
}
.Estate {
	background-image:url("../img/Estate.jpg");
}
.Duchy {
	background-image:url("../img/Duchy.jpg");
}
.Province {
	background-image:url("../img/Province.jpg");
}
.Back {
	background-image:url("../img/Back.jpg");
}
.Market {
	background-image:url("../img/Market.jpg");
}
.Village {
	background-image:url("../img/Village.jpg");
}
.Woodcutter {
	background-image:url("../img/Woodcutter.jpg");
}
.Festival {
	background-image:url("../img/Festival.jpg");
}
.Moat {
	background-image:url("../img/Moat.jpg");
}
